/* правило для блоку body і всіх дочірніх елементів */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}

/* правила для скидання дефолтного підкреслення для посилань */
a {
  text-decoration: none;
}

/* правила для скидання дефолтного підкреслення для маркерів у списках */
ul,
ol {
  list-style-type: none;
}

/* правило для 2ї частини логотипу */
.webstudio-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
/* правило для першої частини логотипу */
.logo-ws {
  color: #2e2f42;
}

/* меню навігації */
.menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* правила для інтеактивних елементів, кнопок і посилань */
.button {
  cursor: pointer;
  background-color: #4d5ae5;
}

.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}

.link {
  color: #2e2f42;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* оформлення основних секцій */
.effective-solutions {
  background-color: #2e2f42;
}

.esolutions-hdr {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.effective-solutions .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.features-hdr-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-txt {
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

.team {
  background-color: #f4f4fd;
}

.team-hdr-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-hdr-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-item {
  background-color: #ffffff;
}

.team-txt {
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

.portfolio-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-hdr-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

.bottom {
  background-color: #2e2f42;
  color: #f4f4fd;
}

.bottom .logo-ws {
  color: #f4f4fd;
}

.bottom-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
